<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.sf.mymodule.example">

    <uses-sdk tools:overrideLibrary="android.test.runner,com.android.support.test"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="net.sf.fdshare.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="net.sf.fdshare.RootFileProvider"
            android:authorities="net.sf.fdshare.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>
    </application>

</manifest>
